<div id="main-div">
  <mat-card id="card-div">
    <mat-card-header>

      <mat-card id="header-card">
        <div>
          <p style="letter-spacing: 1px; font-size: 1.5rem; ">{{ pageTitle }} </p>
        </div>
        <div>

        </div>
      </mat-card>

    </mat-card-header>

    <mat-card-content>

      <form style="margin-top: 30px;" class="example-form" [formGroup]="formulario">

        <div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="nome">Nome</label>
              <input id="nome" type="text" pInputText formControlName="name" required>
              <small id="nome-help" class="p-error"> </small>
            </div>

            <div class="p-field p-col">
              <label for="descricao">Descrição</label>
              <input id="descricao" type="text" pInputText formControlName="description" required>
              <small id="descricao-help" class="p-error"> </small>
            </div>
          </div>
        </div>

        <div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="currency">Valor</label>
              <p-inputNumber mode="currency" inputId="currency" formControlName="amount" placeholder="1.000,00"
                currency="BRL" locale="pt-BR" id="currency">
              </p-inputNumber>
              <small id="currency-help" class="p-error"> </small>
            </div>

            <div class="p-field p-col">
              <label for="tipo">Tipo</label>
              <p-dropdown placeholder=" _ " [options]="tipoLanc" formControlName="typeEntry" optionValue=""
                [showClear]="true" id="tipo">
              </p-dropdown>
              <small id="tipo-help" class="p-error"> </small>
            </div>

          </div>
        </div>

        <div>
          <div class="p-fluid p-formgrid p-grid">

            <div class="p-field p-col">
              <label for="pago">Esta Pago</label>
              <p-dropdown id="pago" placeholder=" _ " [options]="simNao" formControlName="paid" optionLabel="label"
                optionValue="value" [showClear]="true">
              </p-dropdown>

            </div>

            <div class="p-field p-col">

              <label for="icon">Data Final</label>
              <p-calendar formControlName="dateLaunch" dataType="string" [showIcon]="true" inputId="icon"
                dateFormat="dd/mm/yy">
              </p-calendar>

            </div>
          </div>
        </div>

        <div>

          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
              <label for="categoria">Categoria</label>
              <p-dropdown placeholder=" _ " [options]="categoria" optionLabel="category" formControlName="category"
                optionValue="_id" [showClear]="true" id="categoria">
              </p-dropdown>

            </div>
          </div>

        </div>

      </form>
    </mat-card-content>
    <button mat-raised-button (click)="onSubmit()" [disabled]="!formulario.valid" class="btn-salvar"> {{ txtBtn }}
    </button>
    <button mat-raised-button (click)="voltar()" class="btn-voltar">Voltar</button>
  </mat-card>
</div>