
*{
  box-sizing: border-box;
}

#btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}

button {
  letter-spacing: 1px;
}

button:hover{
  z-index: 2;
  box-shadow: 3px;
}

@media screen and (min-width: 600px) {
  #btn-side {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #btn-menu {
    display: none;
  }
}

.icon-menu {
  font-size: 18px;
  margin-right: 5px;
}
