
*{
  box-sizing: border-box;
}


#container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#header-card{
  margin-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
}

.btn-novo{
  border-radius: 20px;
  background-color: aquamarine;
}



/* CSS da tabela */

th{
  line-height: 0.7em;
}

td{
  line-height: 2rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.align-rigght{
text-align: right;
}

.align-center{
  text-align: center;
}
