

#main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#card-div {
  width: 900px;
}


#content-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

#date-select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-title{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

#vlr-saida{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

